@font-face {
    font-family: Nouveau_IBM;
    src: url(Nouveau_IBM.ttf);
    font-display: swap
}

body,
html {
    margin: 0 !important;
    padding: 0 !important;
    min-height: 100vh !important
}

* {
    box-sizing: border-box
}

html {
    font-family: Nouveau_IBM;
    background-color: #000;
    background-attachment: fixed;
    position: relative;
    scrollbar-color: #0082ff #000000 !important;
    scrollbar-width: thin !important
}

html::-webkit-scrollbar {
    background: #000000;
    width: 4px
}

html::-webkit-scrollbar-thumb {
    background: #0082ff
}

body {
    position: relative;
    width: 100%;
    background: #000
}

#wrapper {
    width: 95%;
    margin: 0;
    overflow-x: hidden;
    padding-bottom: 24px;
}

p {
    width: 90%;
    white-space: pre;
    color: white;
    margin: 0;
    padding-left: 20px;
    padding-bottom: 5px;
}

p.image {
    background: url('/css/marisa.gif');
    height: 140px;
    background-repeat: no-repeat;
}

p.inline {
    display: flex;
    flex: 1;
    width: auto;
    white-space: pre-line;
    word-break: break-all;
    padding-left: 12px;
    padding-top: 1px;
}

p.inline-output {
    flex-basis: 100%;
    word-break: break-word;
    white-space: pre-wrap;
}

p.inline-hidden {
    display: none;
}

p.inline-pre {
    display: flex;
    width: auto;
    white-space: pre-line;
    max-height: 24px;
    padding-right: 4px;
    color: #0082ff;
}

a {
    text-decoration: none;
    border-bottom: 1px dashed #0082ff;
    color: #0082ff;
}

.hg-succ {
    color: green;
}

.hg-fail {
    color: red;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
}

#shell {
    font-family: Nouveau_IBM;
    display: flex;
    flex: 1;
    height: auto;
    overflow:hidden;
    min-height: 24px;
    white-space: pre-line;
    word-break: break-all;
    background-color: #000;
    color: white;
    border: 0;
    resize: none;
    padding-left: 12px;
}

.file {
    color: rgb(44, 155, 77);
}

@media only screen and (max-width:801px) {

    .crt {
        overflow: hidden
    }

}

@keyframes blink {
    50% {
        border-color: #0082ff
    }
}

@media only screen and (min-width:1800px) {
    .crt {
        height: 100%
    }
}

@keyframes flicker {
    0% {
        opacity: .27861
    }

    5% {
        opacity: .34769
    }

    10% {
        opacity: .23604
    }

    15% {
        opacity: .90626
    }

    20% {
        opacity: .18128
    }

    25% {
        opacity: .83891
    }

    30% {
        opacity: .65583
    }

    35% {
        opacity: .67807
    }

    40% {
        opacity: .26559
    }

    45% {
        opacity: .84693
    }

    50% {
        opacity: .96019
    }

    55% {
        opacity: .08594
    }

    60% {
        opacity: .20313
    }

    65% {
        opacity: .71988
    }

    70% {
        opacity: .53455
    }

    75% {
        opacity: .37288
    }

    80% {
        opacity: .71428
    }

    85% {
        opacity: .70419
    }

    90% {
        opacity: .7003
    }

    95% {
        opacity: .36108
    }

    100% {
        opacity: .24387
    }
}

.crt::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, .1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    animation: flicker .15s infinite
}

.crt::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, .25) 50%), linear-gradient(90deg, rgba(255, 0, 0, .06), rgba(0, 255, 0, .02), rgba(0, 0, 255, .05));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none
}

.crt {
    position: absolute;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 888;
    pointer-events: none
}